.column.folio-item {
    margin: 10px;
    transition: 0.25s;
    box-sizing: border-box;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.column.folio-item:hover {
    transform: scale(1.1);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

.folio-item img {
    margin: 0 auto;
    max-height: 350px;
}

.skill-bars-fat {
    margin-top: 0;
    display: flex;
    flex-wrap: wrap;
}

.skill-bars-fat > li {
    width: 220px;
    height: 25px;
    margin: 25px 10px;
}
