.column.folio-item {
    margin: 10px;
    box-sizing: border-box;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.skill-bars-fat {
    margin-top: 0;
    display: flex;
    flex-wrap: wrap;
}

.skill-bars-fat > li {
    width: 220px;
    height: 25px;
    margin: 25px 10px;
}
